*, ::before, ::after {
    box-sizing: inherit;
}


/* global styles */
html {
    box-sizing: border-box;
    background-color: #522398;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0;
    background-color: #150c25;
}
p {
    font-family: 'Montserrat';
    font-size: 1.0rem;
    color: #848884;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

.container {
    max-width: 88.5%;
    margin: 0 auto;
}


/* nav styles */
.primary-nav {
    max-width: 93.4%;
    margin: 0 auto;
    padding-top: 1.45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 200px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    margin-left: 2.15rem;
}

.nav-link:hover {
    color: #4fa4ff;
    text-decoration: underline;
}


/* div styles */
.heading-spacer {
    padding-top: 2.75rem;
}

div h2 {
    font-family: 'Montserrat'; /* wrong font - not montserrat */
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2.1rem;
    padding-top: 0rem;
    color: white;
}

div p {
    font-size: 1.2rem;
    color: #848884;
}


/* team section */
.team-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.team-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px;
    text-align: center;
    width: 280px;
    padding: 1rem;
}

.team-picture {
    width: 15rem;
    height: auto;
    border-radius: 10px;
}

.team-info {
    margin-top: 15px;
}

.name {
    font-size: 1.2rem;
    color: #333;
}

.major {
    margin: 5px 0;
    color: #777;
}

.email {
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.email:hover {
    color: #4fa4ff;
    text-decoration: underline;
}


/* footer */
footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}