/* nav styles */
.primary-nav {
  min-width: 100%;
  transform: translate(-2rem);
  margin: 0 auto;
  margin-left: 2rem;
  padding: 0.5% 3% 0.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  background: transparent;
  background-color: rgba(22, 22, 22, 0.5);
  backdrop-filter: blur(20px);
  height: 123px;
}

.nav-logo {
  height: 100px;
}

.nav-antivirus {
  font-family: 'Yanone Kaffeesatz';
  font-size: 60px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  line-height: 115px;
  white-space: nowrap;
}

.nav-antivirus:hover {
  text-shadow: 0 0 10px #522398, 0 0 10px #522398, 0 0 10px #522398, 0 0 10px #522398;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  font-family: 'Rubik Mono One';
  font-size: 24px;
  text-decoration: none;
  display: inline-flex;
  margin: 0.3em 0.5em;
}

.nav-link:hover {
  text-shadow: 0 0 10px #522398, 0 0 10px #522398, 0 0 10px #522398, 0 0 10px #522398;
}

nav label {
  text-align: right;
  display: block;
  padding: 0.5em;
  line-height: 1.6em;
  align-self: center;
  color: white;
}


/* collapsable menu */
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1050px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 123px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 3.9em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background: transparent;
    background-color: rgba(22, 22, 23, 0.5);
  }
}

@media (max-width: 350px) {
  .nav-antivirus {
    font-size: 40px;
  }
} 
